<!--  Here goes the slider-->

<div class="container-fluid">
    <div class="row">
  
      <!-- <img src="assets/images/g4.jpg" alt="" class="img-responsive"/> -->
      <div id="caro" class="carousel slide" data-ride="carousel" data-interval="5000">
  
        <ol class="carousel-indicators">
  
          <li data-target="#caro" data-slide-to="0" class="active"></li>
          <li data-target="#caro" data-slide-to="1"></li>
          <li data-target="#caro" data-slide-to="2"></li>
          <li data-target="#caro" data-slide-to="3"></li>
          <li data-target="#caro" data-slide-to="4"></li>
        </ol>
  
        <div class="carousel-inner"  style="width:100%; height:570px; background-size:cover; background-repeat:no-repeat;">
  
             <div class="item active">
                <img src="assets/images/g1.jpg"/>
                <!-- <div class="carousel-caption">
                    <h1 style="color:white;">Random Caption</h1>
                </div> -->
             </div>
  
             <div class="item">
                <img src="assets/images/g2.jpg"/>
                <!-- <div class="carousel-caption">
                    <h1 style="color:white;">Random Caption</h1>
                </div> -->
              </div>
  
             <div class="item">
                <img src="assets/images/g3.jpg"/>
                <!-- <div class="carousel-caption">
                    <h1 style="color:white;">Random Caption</h1>
                </div> -->
             </div>
  
             <div class="item">
                <img src="assets/images/g4.jpg"/>
             </div>
  
             <div class="item">
                <img src="assets/images/g5.jpg"/>
             </div>
  
             <a class="left carousel-control" href="#caro" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  
             <a class="right carousel-control" href="#caro" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
  
      </div>
  
    </div>
  </div>
  
  <!-- <div class="container-fluid rad-color">
      Hey There!
  </div> -->
  
  <!-- Slider dies here! -->
  
  
  
  
  <!-- Mid container Goes Here-->
  
    <div class="container-fluid mid-conan" style="margin-top:20px;">
      <!-- <div class="container"> -->
        <div  class="row">
  
            <div class="col-md-8 col-md-offset-2" style=" font-size: 14px;">
              <div class="container-fluid" style="text-align:center">
                  <h1>Who Doesn't Love Games</h1>
                </div>
                <div>
                  <p style="margin-top:20px; color:#444444; font-size:14px;">
                   Hey you know what, I'm writing this without actually knowing  what the heck 
                   am I writing. So don't waste time in reading this  cause I'll replace  it in future.
                   And why The  fuck is the spacebar of my mech keyboard is adding two whitespace with  one hit.
                   Look it happened again.  Something's not  Good. Shit spacebar is  screwed!
                  </p>
                </div>
            </div>
  
        </div>
      <!-- </div> -->
  
      <div class="row" style="margin-top:50px;">
  
        <div class="col-md-2"></div>
  
        <div class="col-md-4" >
  
            <div class="container-fluid nice-shadow" style="border:thin solid #444444;  margin:0px 30px 0px 30px;">
                <div style="padding:5px; text-align:center;"><h2>Buy weed here</h2></div>
                <p style="margin-top:10px; margin-bottom:40px; font-size:14px; color:#444444">
                  Kidding! We sell nothing. This is just a project and look that's why 
                  I am writing these random lines. You wanna need a good advice? Stop reading  this before you 
                  turn out into a  zombie.
                </p>
            </div>
  
        </div>
        <div class="col-md-4">
  
          <div class="container-fluid nice-shadow" style="border:thin solid #444444;  margin:0px 30px 0px 30px;">
            <div style="padding:5px; text-align:center;"><h2>Your are Ugly</h2></div>
            <p style="margin-top:10px; margin-bottom:40px; font-size:14px; color:#444444">
              Kidding! We sell nothing. This is just a project and look that's why 
              I am writing these random lines. You wanna need a good advice? Stop reading  this before you 
              turn out into a  zombie.
            </p>
        </div>
  
        </div>
  
        <div class="col-md-2"></div>
      </div>
    </div>
  
  
  <!-- Mid  container  Dies here -->
  
  
  <!-- Footer  goes here! -->
  
  <div class="container-fluid footer" style="margin-top:70px;">
  
    <div class="container">
      <div class="row">
        
                  <div class="col-md-1">
                      <img src="assets/images/GSWhite.png" style="width:70px; height:50px; opacity:0.3;">
                  </div>
                  <div class="col-md-8">
                      <p style="color:white; font-size:20px; margin-left:0px; margin-top:10px;
                      opacity: 0.45;">GamingSphere</p>
                  </div>
                  <div class="col-md-3">
                    <a href="#" class="social-links"><i class="fa fa-facebook" style="font-size:20px; color:white;"></i></a>
                    <a href="#" class="social-links"><i class="fa fa-twitter" style="font-size:20px; color:white;"></i></a>
                    <a href="#" class="social-links"><i class="fa fa-google-plus" style="font-size:20px; color:white;"></i></a>
                  </div>
      
      </div>
    </div>
  
  </div>
  
  <!-- Footer Dies here! -->