<div class="parallax1"></div>

<div style="height:400px;background-color:rgb(212, 212, 212);font-size:18px">
    Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money.  
     Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money. Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money. </div>

    <div class="parallax2"></div>

    <div style="height:400px;background-color:rgb(212, 212, 212);font-size:18px">
        Hey There! This is some random text. I don't know what the heck I am writing. So it's better
        if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
        then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
        Remember, Time is Money.  
        Hey There! This is some random text. I don't know what the heck I am writing. So it's better
        if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
        then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
        Remember, Time is Money. Hey There! This is some random text. I don't know what the heck I am writing. So it's better
        if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
        then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
        Remember, Time is Money.    </div>
        
    <div class="parallax3"></div>

    <div style="height:400px;background-color:rgb(212, 212, 212);font-size:18px">
     Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money.  
     Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money. Hey There! This is some random text. I don't know what the heck I am writing. So it's better
     if you pay no heed here and just  check  out my work. And  if you're really  stubborn and still read This
     then let me tell you that from here am I gonna copy the text I've written so far, so it's a complete wastage of time.
     Remember, Time is Money.   </div>